* {
    font-family: 'Bangers', cursive;
    box-sizing: border-box;
}

body {
    /* background-image: url(./img/comic_background.jpg);*/
    background-color: rgb(130, 4, 13);
}

.container {
    border-radius: 1rem;
    background-color: red;
    box-shadow: 5px 10px;
    
}

.form-group {
    color: black;
}

table > thead > tr {
    color: black;
}

.btn {
    color: black;
}